* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* navbar section */
.nav-bar {
    display: flex;
    flex-direction: column;
    font-size: 16px;
    background-color: white;
}

.top-nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
}

.logo-top-navbar {
    width: 50px;
    height: 50px;
}

.logo-top-navbar img {
    width: 100%;
    cursor: pointer;
}

.items-top-navbar {
    list-style: none;
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.items-top-navbar li {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.items-top-navbar li span {
    margin-right: 5px;
}

.items-top-navbar li .icon {
    color: purple;
    margin-right: 5px;
    font-size: 13px;
}

.items-top-navbar .item:hover {
    color: white;
    background-color: #059862;
}

.search-nav-bar {
    position: relative;
}

.search-nav-bar input {
    padding: 20px;
    width: 200px;
    height: 10px;
    border-radius: 40px;
    border: 1px solid #c3c3c3;
}

.search-nav-bar i {
    position: absolute;
    right: 0px;
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.search-nav-bar i:hover {
    background-color: #e7e4e4;
    cursor: pointer;
}

.btn-nav-bar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 180px;
    height: 40px;
    background-color: #0cf29d;
    border-radius: 50px;
    margin-left: 10px;
}

.btn-signup {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #059862;
    color: white;
    border-radius: 50px;
    cursor: pointer;
}

.btn-login {
    width: 100%;
    display: flex;
    justify-content: center;
}

.btn-nav-bar:has(.btn-login:hover) {
    background-color: #03764c;
    color: white;
    cursor: pointer;
}

.bottom-nav-bar {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #4a4a4a;
    color: white;
}

.bottom-nav-bar li {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    cursor: pointer;
}

.bottom-nav-bar li:hover {
    background-color: #2b2b2b;
}

/* hero section */
.hero-section {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('https://www.w3schools.com/images/lynx_in_space.webp'), url('https://www.w3schools.com/images/background_in_space.webp');
    background-repeat: no-repeat, repeat;
    background-position: 90% 60%, center center /*left top*/;;
    color: white;
}

.container {
    margin-top: -100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.container h1 {
    font-size: 80px;
}

.container h3{
    color: #FFF4A3;
    font-size: 30px;
    font-weight: 600;
}

.search-hero-section {
    position: relative;
    border-radius: 50px;
    overflow: hidden;
}

.search-hero-section input {
    border: none;
    outline: none;
    width: 600px;
    height: 50px;
    padding: 20px;
    border: none;
    outline: none;
}

.search-hero-section i {
    position: absolute;
    top: 0;
    right: 0;
    background-color: #04AA6D;
    width: 100px;
    height: 50px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    /* border-radius: 0 50px 50px 0; */
}

.container a {
    color: white;
    font-size: 30px;
}

/* language section */
.language-section {
    background: gray;
    height: 100vh;
    margin-top: -5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.left-side {
    padding: 100px;
    text-align: center;
}

.left-side .wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
}

.left-side h1 {
    font-size: 90px;
    font-weight: 700;
}

.left-side p {
    font-size: 25px;
    font-weight: 500;
}

.left-side a {
    text-decoration: none;
    color: white;
    width: 200px;
    height: 50px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    font-weight: 600;
    cursor: pointer;
}

.left-side .learn {
    background-color: #04AA6D;
    color: white;
}

.left-side .tutorial {
    background-color: #FFF4A3;
    color: black;
}

.left-side .reference {
    background-color: #282A35;
    color: white;
}

.left-side .certified {
    background-color: #FFC0C7;
    color: black;
}

.right-side {
    padding: 20px;
}

.right-side .example {
    background-color: #E7E9EB;
    height: 500px;
    width: 450px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.right-side h3 {
    margin-top: 30px;
    font-size: 25px;
}

.right-side a {
    text-decoration: none;
    color: white;
    width: 200px;
    height: 50px;
    background-color: #059862;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    font-weight: 600;
    cursor: pointer;
}

/* html */
.html-section {
    background-color: #D9EEE1;
}

/* css */
.css-section {
    background-color: #FFF4A3;
}

/* javascript */
.javascript-section {
    background-color: #4a4a4a;
}

.javascript-section h1 {
    color: white;
}

.javascript-section p {
    color: white;
}

/* python */
.python-section {
    background-color: #F3ECEA;
}

/* sql */
.sql-section {
    background-color: #96D4D4;
    margin-bottom: 100px;
}

/* learn section */
.learn {
    background-color: #282A35;
    height: 150vh;
}

.learn .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 60px;
    padding: 80px 40px;
}

.learn .container .card {
    background-color: #FFC0C7;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.card .language {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    gap: 30px;
    border-radius: 10px;
}

.card .language h1 {
    font-size: 40px;
}

.card .language p {
    font-size: 20px;
    font-weight: 500;
}

.card .language a {
    text-decoration: none;
    color: white;
    width: 200px;
    height: 50px;
    background-color: #2b2b2b;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
}

.card .jquery {
    background-color: #FFF4A3;
}

.card .java {
    background-color: #F3ECEA;
}

.card .cplusplus {
    background-color: #D9EEE1;
}

.card .w3css {
    background-color: #96D4D4;
}

.card .bootstrap {
    background-color: #E7E9EB;
}

